@media all and (max-width: 1000px) {
  
}

/* Mulai Bagian Tata Adi Nugroho */

@media (min-width:721px) {
    .anggota-card img{
        width: 45%;
    }
    .anggota-card{
        width: 15%;
        height: 220px;
        vertical-align: top;
        font-size: 10px;
    }
    .anggota-card:hover{
        width: 16%;
    }
}

@media (max-width:720px) {
    .anggota-card img{
        width: 35%;
    }
    .anggota-card{
        width: 30%;
        height: 220px;
        vertical-align: top;
        font-size: 10px;
    }
    .anggota-card:hover{
        width: 35%;
    }
}
/* Akhir Bagian Tata Adi Nugroho */

/* Mulai Bagian Ahmad Jamil */
@media all and (max-width: 670px) {
  .footer-list  a{
    float: none;
    display: inline;
    }
    .footer-list{
        padding-top: 10px;
        padding-right: 0px;
        float: right;
        text-align: right;
    }
}
/* Akhir Bagian Ahmad Jamil */

/* Mulai bagian Budy Haryono*/
/* Untuk Tablet */
@media all and (max-width: 1100px) {
    .contact-form {
      height: 700px;
    }
  
    .text-content {
      text-align: left;
      padding: 0px;
      width: 100%;
    }
  
    .message-form {
      width: 100%;
      text-align: center;
      display: inline-block;
      padding: 0px;
    }
  }
  
  /* Untuk Smartphone */
  @media all and (max-width: 670px) {
    .text-content {
      text-align: left;
      padding: 0px;
      width: 100%;
    }
  
    .text-content h2 {
      font-size: 24px;
    }
  
    .text-content h3 {
      font-size: 16px;
    }
  
    .message-form {
      width: 100%;
    }
  
    input, textarea {
      width: 100%;
    }
  }
  
  /*Akhir Bagian Budy Haryono*/