body {
    margin: 0;
    font-family: "Lucida Grande";
}

/* Mulai Bagian Tata Adi Nugroho */

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }

.anggota-wrapper{
    height: auto;
    width: 100%;
    padding: 100px 0px 100px 0px;
    background-color: #f7f7f7;
    text-align: center;
}

.anggota-card{
    display: inline-block;
    background-color: #ffffff; 
    /* 
        Formula box shadow
        box-shadow : a b c d e

        a = mengatur shadow ke kanan atau ke kiri dengan nilai positive atau negative
        b = mengatur shadow ke kanan atau ke kiri dengan nilai positive atau negative
        c = blur 
        d = radius shadow
        e = warna shadow disarankan dengan formula transparansi
    */
    box-shadow:  0px 10px 25px 0px #4d4d4d79;
    border-radius: 10px; 
    padding: 10px; 
    margin:10px;
    transition: all 1s;
}

.anggota-card:hover{
    box-shadow:  0px 4px 10px 0px #4d4d4d3b;
    border-radius: 10px; 
    padding: 10px; 
    margin:10px;
}
/* Akhir Bagian Tata Adi Nugroho */

/* Mulai Bagian Ahmad Jamil */
footer {
    background-color: #2f5167;
    color: #fff;
    height: 125px;
    padding: 10px;
}

.footer-logo{
    width: 150px;
    text-align: center;
    float: left;
}

.footer-logo img{
    width:100px;
}

.footer-logo p{
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    opacity: 0.3;
}
.footer-list  a{
    text-decoration: none;
    opacity: 0.7;
    color: white;
    float:right;
    margin: 50px 20px;
}
.footer-list li{
    list-style: none;
}
.footer-list a:hover{
    opacity: 1;
    
}
/* Akhir Bagian Ahmad Jamil */

/*mulai bagian Budy Haryono*/

* {
	box-sizing: border-box;
}

.contact-form {
	background-color: #f7f7f7;
    height: 570px;
    padding: 0px 50px 0px 50px;
}


.message-form {
	float: right;
	padding: 70px 250px 0px 0px;
}

.message-form p {
	margin: 0px;
	font-size: 14px;
}

.text-content {
	float: left;
	width: 50%;
	padding: 130px 0px 0px 250px;
}

.text-content h2{
	font-size: 35px;
	margin-bottom: 5px;
}

.text-content h3{
	font-weight: normal;
	font-size: 20px;
	margin-top: 5px;
}

.text-content p {
	margin-top: 35px;
}

input, textarea {
	padding: 15px;
	margin-bottom: 30px;
	border: 1px solid #dee7ec;
	width: 285px;
	margin-top: 10px;
	font-size: 16px;
}

.contact-submit {
	color: #6F95AC;
	background-color: #dee7ec;
	font-size: 14px;
}

/*Akhir bagian Budy Haryono*/

/* Mulai Bagian Laras Tawang Pratiwi */
.header-right li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    height: 80px;
    width: 100%;
    background-color: rgba(136, 18, 106, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
}
  
.logo {
    width: 124px;
    margin-top: 0px;
}
  
.header-left {
    float: left;
}
  
.header-right {
    float: right;
    padding-right: 20px;
    color: rgb(230, 204, 230);
    background-color: rgba(112, 11, 58, 0.9);
    transition: all 0.5s;
    height: 80px;
}

.header-list ul li {
    display:block;
    float: left;
    height: 100%;
    margin-right: 20px;
    line-height: 40px;
}

.header-right:hover {
    background-color: rgba(168, 41, 151, 0.9);
}
  
.header-right a {
    color: white;
}

/* Akhir Bagian Laras Tawang Pratiwi */

